/* NORMALIZATION */
*, 
*::before, 
*::after {
    box-sizing: border-box;
}

/* change selection color */
::selection {
    color: white;
    background: #f9b17a;
}

/* BODY */
body {
    background-color: #2d3250;
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: 400;
    margin: 0;
    padding-bottom: 50px;
}

/* HEADER */
header {
    text-align: center;
    background-color: #11192a;
    padding: 20px;
}
header h1 {
    color: #f9b17a;
    font-weight: 700;
}
header h2 {
    font-style: italic;
    font-weight: 200;
}

/* FORM */
form p {
    margin-top: 0;
    font-size: large;
}

/* TEXT INPUT */
input[type="text"] {
    /*width: 50%;*/
    height: calc(2em + 2px);
    padding: 5% 5%;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: #424769;
    background-clip: padding-box;
    border: 1px solid #f9b17a;
    border-radius: 0.25rem;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-bottom: 1%;
}
#y-helper-text {
    font-size: small;
    font-weight: 200;
}
input[type="text"]:invalid {
    color: #ff5275;
}

/* SUBMIT BUTTON */
input[type="submit"], 
input[type="button"] {
    font-size: large;
    font-family: "Montserrat";
    font-weight: 700;
    height: calc(2em + 2px);
    padding: 0.375rem 0.75rem;
    color: #ffffff;
    background-color: #f68d3c;
    border-radius: 15px;
    border: 1px solid #ffffff;

    align-self: center;

    transition: background-color 0.5s;
}
input[type="submit"]:hover, 
input[type="button"]:hover {
    background-color: #f9b17a;
}
input[type="submit"].secondary, 
input[type="button"].secondary {
    background-color: #424769;
}
input[type="submit"].secondary:hover, 
input[type="button"].secondary:hover {
    background-color: #f68d3c;
}

/* FORM TABLE */
.form-tr {
    width: 100%;
}
.form-td {
    width: 50%;
    vertical-align: top;
    padding: 0 15px;
}
#formFirstColumn {
    padding-bottom: 20px;
}
#queryForm\:x {
    margin-bottom: 15px;
}

/* SUBMIT TABLE */
#submitTable {
    width: 100%;
}
.form-submit-td {
    text-align: center;
}
.submit-button {
    margin: 0 10px;
}

/* RESULT TABLE */
body > table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
body > table td, th {
    width: calc(100% / 6);
    text-align: center;
}
.td-success {
    color: #00AF54;
}
.td-fail {
    color: #ff5275;
}

/*
#userInputTable .ui-spinner-button {
    background: #f9b17a;
    border: 0;
}
*/

.center {
    display: grid;
    place-items: center;
}

.hor-flex-parent {
    display: flex;
    width: 70%;
    margin: 20px auto;
}
.hor-flex-child {
    flex: 1;
    display: flex;
    justify-content: center;
}

.ver-flex-parent {
    display: flex;
    flex-direction:column;
}
.ver-flex-child {
    flex: 1;
    display: flex;
    vertical-align: top;
}

.redirect {
    margin-top: 100px;
}

#timeForm {
    padding: 20px;
}
