<form [formGroup]="valueForm" (ngSubmit)="handleSubmit(valueForm.value.x, valueForm.value.y)">

  <div class="p-fluid value-container">
    <div class="p-field">
      <label>
        Выберите значение X: <b>{{valueForm.value.x}}</b>
      </label>
      <p-listbox [options]="classReference.xValues" formControlName="x" [style]="{ width: '15rem' }" [listStyle]="{'max-height': '220px'}" />
      <small class="p-error"
             *ngIf="valueForm.get('x')?.hasError('required') && valueForm.get('x')?.dirty">
        Обязательное поле
      </small>
    </div>
    <div class="p-field">
      <label>
        Выберите значение Y: <b>{{valueForm.value.y}}</b>
      </label>
      <p-slider formControlName="y" [style]="{ width: '15rem' }" [min]="-3" [max]="5" [step]="0.05" />
      <small class="p-error"
             *ngIf="valueForm.get('y')?.hasError('required') && valueForm.get('y')?.dirty">
        Обязательное поле
      </small>
    </div>
    <div class="p-field">
      <label>
        Выберите значение R: <b>{{valueForm.value.r}}</b>
      </label>
      <p-listbox [options]="classReference.rValues" formControlName="r" (onChange)="handleRChanged()" [style]="{ width: '15rem' }" [listStyle]="{'max-height': '220px'}" />
      <small class="p-error"
             *ngIf="valueForm.get('r')?.hasError('required') && valueForm.get('r')?.dirty">
        Обязательное поле
      </small>
      <small class="p-error"
             *ngIf="valueForm.get('r')?.hasError('validateR') && valueForm.get('r')?.dirty">
        Радиус должен быть > 0
      </small>
    </div>
  </div>
  <div class="p-field button-container">
    <p-button type="submit" label="Отправить" [disabled]="!valueForm.valid"></p-button>
  </div>
</form>
