@import "primeng/resources/themes/lara-light-blue/theme.css";
/*@import "primeng/resources/themes/lara-dark-blue/theme.css";*/
@import "primeng/resources/primeng.css";

body {
  background-color: var(--surface-a);
  font-family: var(--font-family);
  color: var(--text-color);
}
